.londrina-sketch-regular {
  font-family: 'Londrina Sketch', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dynapuff-regular {
  font-family: 'DynaPuff', system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.main-content {
  background-color: white;
}

h1 {
  color: white;
  font-size: 100px;
}

span {
  display: block;
  padding: 20px;
}

.juicebox-icon {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  animation-duration: 1.5s;
  animation-name: swing;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  text-align: center;
}

@keyframes swing {
  0% {
    transform-origin: bottom;
    transform: rotate(-15deg);
  }
  50% {
    transform-origin: bottom;
    transform: rotate(15deg);
  }
  100% {
    transform-origin: bottom;
    transform: rotate(-15deg);
  }
}

.hidden {
  opacity: 0;
  transform: translateY(20%);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateY(0%);
}
